.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #333;
  }
  
  .logo img {
    width: 40px;
    margin-right: 10px;
  }
  
  .back-button {
    background-color: #e8ab5d;
    color: white;
    border: none;
    padding: 11px 19px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    margin-right: 95px;
  }
  
  .back-button:hover {
    background-color: #d99e00;
  }
  
  .update-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  
  .figure-img {
    width: 250px;
    margin-right: 40px;
  }
  
  .update-box {
    background: white;
    padding: 40px;
    width: 400px;
    text-align: left;
    border-radius: 10px;
  }
  
  .update-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .update-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .upload-container {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .upload-input {
    display: none;
  }
  
  .upload-btn {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: #fef3e6;
    color: #e8ab5d;
    text-align: center;
    font-weight: bold;
    border: 1px solid #e8ab5d;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .upload-btn:hover {
    background-color: #e8ab5d;
    color: white;
  }
  
  .edit-btn {
    width: 106%;
    padding: 12px;
    background-color: #e8ab5d;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .edit-btn:hover {
    background-color: #d99e00;
  }